.no-left-padding {
    padding-left: 0;
}

body {
    padding-top: 50px;
}

.obligate {
    color: #d9230f;
}

a.cat-action {
    color: #cccccc;
    text-decoration: none;
}

a.cat-action:hover{
    color: #777777;
}